.logo {
  display: block;
}

.logo__label-web,
.logo__label-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo__label-web {
  color: $accent-color;
}
.logo__label-studio {
  color: #000000;
}

.logo__label-studio--inverse {
  color: $primary-white-color;
}
