.section--background {
  background-color: $secondary-bg-color;
}
.team-card {
  display: flex;
}
.team-card__item {
  width: calc((100% -3 * 30px) / 4);
  background: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-card__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-card__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  fill: $primary-icon-color;
  background-color: $primary-white-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color $transition-duration $transition-timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $primary-white-color;
  }
}

.social__icon {
  transition: fill $transition-duration $transition-timing-function;
}
