.section--retreat {
  padding-top: 0;
}
.work {
  display: flex;
}

.work__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
.work__title {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
}
